*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none !important;
}

body{
    background-color: #f8f8f8 !important;
    font-family:"Roboto", sans-serif;
    font-weight: 400;
}
.header{
    width: 100%;
    font-weight: 600;
    position: sticky;
    top: 0;
    
}
.header-2{
    background-color: white;
    width: 98.7%;
    margin-top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.header .logo img{
    width: 130ppx;
    margin-top: 25px;
    margin: 22px;
    margin-left: 20px;
}
.header .nav{
    margin-top: 25px;
    margin-left: -50px;
    font-family: "Jersey 25", sans-serif;
}
.header .nav ul li{
    display: inline-block;
    padding: 5.5px;
    font-size: 12px;
    margin-right: 5px;
}
.header .nav ul li:hover{
    background-color: rgba(128, 128, 128, 0.072);
    transition: 0.3s;
    border-radius: 6px;
}
.header .nav ul li a{
    text-decoration: none;
    color: black;
}
.header .button{
    margin-left:55px;

}
.header .button button{
    border: 0.5px solid rgba(128, 128, 128, 0.216);
    border-radius: 17.5px;
    width: 100px;
    height: 30px;
    font-size: 13px;
    background-color:white;
    margin-top: 20px;
}
.header .button button i{
    color: #f9c623;
}
/* Submenu styles */
.submenu {
    display: none;
    position: absolute;
    background-color: white;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    width:84%;
    height: 85px;
    border-radius: 15px;
    margin-top: 5px;
    margin-left: -200px;
    
}
.submenu .about{
    display: inline-block;
    margin-top: 20px;
    line-height: 0%;
    padding: 10px;
    border-radius: 15px;
    padding-right:70px;
}
.submenu .about:hover{
    background-color: rgba(128, 128, 128, 0.1);
}
.submenu .about img{
    width: 45px;
}
.nav li:hover .submenu {
    display: block;
}
  
.submenu a {
    color: black;
    padding-bottom: 10px;
    text-decoration: none;
    display: block;
    text-align: center;

}

.content-a{
    margin-top: 40px;
    margin-left: 50px;
    margin-right:50px;
}
.zurag{
    background-image: url(https://www.ubcab.mn/static/images/rent_bg.png);
    border-radius: 30px;
    padding: 30px;
    padding-left: 50px;
    width: 100%;
}
.content img{
    width: 120px;
    margin-top: 40px;
}

.content h1{
    color: #f9c623;
    width: 500px;
    font-size: 45px;
    font-weight: 680;
    line-height: 3rem;
    margin-top: 30px;
}
.content h1 span{
    color: white;
}
.content p{
    color: white;
    width: 500px;
    margin-top: 30px;
}
.content .btn{
    display: flex;
    margin-top: 200px;
}
.content .app button{
    display: inline-block;
    padding: 32px;
    border-radius: 50px;
    background-color: #f9c623;
    border: none;
    width: 210px;
    font-weight: 500;    
}
.content .app button i{
    margin-right: 14px;
}
.content .driver button{
    display: inline-block;
    padding: 20px;
    border-radius: 50px;
    background-color: white;
    border: 0.1px solid ;
    width: 270px;
    height: 90px;
    font-weight: 500;
    margin-left: -32px;
}
.content .driver button i{
    margin-right: 4px;
}

.content-2 .bat{
    background-color: black;
    border-radius: 300px;
    color: white;
    height: 90px;
    width: 1200px;
}
.content-2 .bat p{
    margin-top: -42px;
    margin-left: 100px;
    font-weight: 650;
}
.content-2 .bat .gai i{
    font-size: 35px;
    margin-top: 17px;
    margin-left: 20px;
    border: 0.5px solid rgba(128, 128, 128, 0.275);
    padding: 13px 13px 13px 13px;
    border-radius: 50%;
}
.content-2 .bat .gai-1 i{
    color: white;
    font-size: 30px;
}
.container-3 h1{
    text-align: center;
    color: gray;
    font-size: 35px;
    width: 1000px;
    margin-left: 110px;
}
.container-3 h1 span{
    text-align: center;
    color: black;
}
.container-3 p{
    color: gray;
    text-align: center;
    margin-left: 100px;
    width: 1050px;
    font-weight: 650;
}
.content-4 .about img{
    width: 100%;
    margin-bottom: 20px;
}

.content-3{
    margin-top: 150px;
}
.content-3 .text h1{
    font-size: 50px;
    font-weight: 700;
}
.content-3 .about{
    margin-top: 50px;
    background-color: white;
    border-radius: 30px;
    height: 400px;
}
.content-3 .about img{
    margin-left: 150px;
    margin-top:80px;
}
.content-3 .about h1{
    text-align: center;
    margin-top:10px;
    font-size: 20px;
}
.content-3 .about p{
    margin-left: 85px;
    margin-top:10px;
    color: gray;
    text-align: center;
    width: 200px;
}
.content-5{
    margin-bottom: 100px;
}
.content-5 .content-a .about{
    background-color: white;
    border-radius: 30px;
}
.content-5 .content-a .about img{
    width: 100%;
    margin-top: 100px;
}
.content-5 .content-a .about p{
    color:rgba(128, 128, 128, 0.36);
    font-weight: 680;
    margin: 35px;
    font-size: 50px;
    line-height: 3.5rem;
}
.content-5 .content-a .about p span{
    color:black;
}
.content-5 .btn{
    display: flex;
    margin-top: 190px;
    margin-left: 30px;
}
.content-5 .app button{
    display: inline-block;
    padding: 32px;
    border-radius: 50px;
    background-color: #f9c623;
    border: none;
    width: 210px;
    font-weight: 500;    
}
.content-5 .app button i{
    margin-right: 14px;
}
.content-5 .driver button{
    display: inline-block;
    padding: 20px;
    border-radius: 50px;
    background-color: white;
    border: 0.1px solid rgba(128, 128, 128, 0.244);
    width: 270px;
    height: 90px;
    font-weight: 500; 
}
.content-5 .driver button i{
    margin-right: 4px;
}
.zuraas{
    border-top: 0.5px solid rgba(128, 128, 128, 0.181);
    width: 85%;
    margin-left: 115px;
}

.footer .container-bat-3{
    margin-top: 110px;
    margin-left: 50px;
    margin-right:50px 
}
.footer .container-bat-3 p{
    color: black;
    font-weight: 700;
}
.footer .container-bat-3 li a{
    color: gray;
    line-height: 2rem;
}
.footer .container-bat-3 .bataa button{
    width: 300px;
    height: 55px;
    margin-top: 20px;
    background-color: #f8f8f8;
    border-radius: 4px;
    border: 0.1px solid rgba(128, 128, 128, 0.205);
    font-weight: 700;
}
.footer .container-bat-3 .bataa button:nth-of-type(1) i{
    position: relative;
    left: 90px;
}
.footer .container-bat-3 .bataa button i{
    position: relative;
    left: 40px;
}
.footer-2 .container-bat-4{
    margin-top: 80px;
    margin-left: 50px;
    margin-right:50px 
}
.footer-2 .container-bat-4 P{
    color: gray;
}
.footer-2 .container-bat-4 .meta{
    display: inline-block;
    margin-left: 400px;
}
.footer-2 .container-bat-4 .meta i{
    margin-right: 20px;
}
.mobile{
    display: none;
}


@media(width:1060px){
    .computer .header{
        display: none !important;
    }
    .computer{
        display: block;
    }
    .mobile{
        display: block;
    }
    a{
        text-decoration: none !important;
    }
    
    body{
        background-color: #f8f8f8 !important;
        font-family:"Roboto", sans-serif;
        font-weight: 400;
    }
    
    
    .content-a{
        margin-top: 40px;
        margin-left: 50px;
        margin-right:50px;
    }
    .zurag{
        background-image: url(https://www.ubcab.mn/static/images/rent_bg.png);
        border-radius: 30px;
        padding: 30px;
        padding-left: 50px;
        width: 100%;
    }
    .content img{
        width: 120px;
        margin-top: 40px;
    }
    
    .content h1{
        color: #f9c623;
        width: 100px;
        font-size: 305px;
        font-weight: 680;
        line-height: 3rem;
        margin-top: 30px;
    }
    .content h1 span{
        color: white;
    }
    .content p{
        color: white;
        width: 500px;
        margin-top: 30px;
    }
    .content .btn{
        display: flex;
        margin-top: 200px;
    }
    .content .app button{
        display: inline-block;
        padding: 32px;
        border-radius: 50px;
        background-color: #f9c623;
        border: none;
        width: 210px;
        font-weight: 500;    
    }
    .content .app button i{
        margin-right: 14px;
    }
    .content .driver button{
        display: inline-block;
        padding: 20px;
        border-radius: 50px;
        background-color: white;
        border: 0.1px solid ;
        width: 270px;
        height: 90px;
        font-weight: 500;
        margin-left: -32px;
    }
    .content .driver button i{
        margin-right: 4px;
    }
    
    .content-2 .bat{
        background-color: black;
        border-radius: 300px;
        color: white;
        height: 90px;
        width: 300px;
    }
    .content-2 .bat p{
        margin-top: -42px;
        margin-left: 100px;
        font-weight: 650;
    }
    .content-2 .bat .gai i{
        font-size: 35px;
        margin-top: 17px;
        margin-left: 20px;
        border: 0.5px solid rgba(128, 128, 128, 0.275);
        padding: 13px 13px 13px 13px;
        border-radius: 50%;
    }
    .content-2 .bat .gai-1 i{
        color: white;
        font-size: 30px;
    }
    .container-3 h1{
        text-align: center;
        color: gray;
        font-size: 35px;
        width: 1000px;
        margin-left: 110px;
    }
    .container-3 h1 span{
        text-align: center;
        color: black;
    }
    .container-3 p{
        color: gray;
        text-align: center;
        margin-left: 100px;
        width: 1050px;
        font-weight: 650;
    }
    .content-4 .about img{
        width: 100%;
        margin-bottom: 20px;
    }
    
    .content-3{
        margin-top: 150px;
    }
    .content-3 .text h1{
        font-size: 50px;
        font-weight: 700;
    }
    .content-3 .about{
        margin-top: 50px;
        background-color: white;
        border-radius: 30px;
        height: 400px;
    }
    .content-3 .about img{
        margin-left: 150px;
        margin-top:80px;
    }
    .content-3 .about h1{
        text-align: center;
        margin-top:10px;
        font-size: 20px;
    }
    .content-3 .about p{
        margin-left: 85px;
        margin-top:10px;
        color: gray;
        text-align: center;
        width: 200px;
    }
    .content-5{
        margin-bottom: 100px;
    }
    .content-5 .content-a .about{
        background-color: white;
        border-radius: 30px;
    }
    .content-5 .content-a .about img{
        width: 100%;
        margin-top: 100px;
    }
    .content-5 .content-a .about p{
        color:rgba(128, 128, 128, 0.36);
        font-weight: 680;
        margin: 35px;
        font-size: 50px;
        line-height: 3.5rem;
    }
    .content-5 .content-a .about p span{
        color:black;
    }
    .content-5 .btn{
        display: flex;
        margin-top: 190px;
        margin-left: 30px;
    }
    .content-5 .app button{
        display: inline-block;
        padding: 32px;
        border-radius: 50px;
        background-color: #f9c623;
        border: none;
        width: 210px;
        font-weight: 500;    
    }
    .content-5 .app button i{
        margin-right: 14px;
    }
    .content-5 .driver button{
        display: inline-block;
        padding: 20px;
        border-radius: 50px;
        background-color: white;
        border: 0.1px solid rgba(128, 128, 128, 0.244);
        width: 270px;
        height: 90px;
        font-weight: 500; 
    }
    .content-5 .driver button i{
        margin-right: 4px;
    }
    .zuraas{
        border-top: 0.5px solid rgba(128, 128, 128, 0.181);
        width: 85%;
        margin-left: 115px;
    }
    
    .footer .container-bat-3{
        margin-top: 110px;
        margin-left: 50px;
        margin-right:50px 
    }
    .footer .container-bat-3 p{
        color: black;
        font-weight: 700;
    }
    .footer .container-bat-3 li a{
        color: gray;
        line-height: 2rem;
    }
    .footer .container-bat-3 .bataa button{
        width: 300px;
        height: 55px;
        margin-top: 20px;
        background-color: #f8f8f8;
        border-radius: 4px;
        border: 0.1px solid rgba(128, 128, 128, 0.205);
        font-weight: 700;
    }
    .footer .container-bat-3 .bataa button:nth-of-type(1) i{
        position: relative;
        left: 90px;
    }
    .footer .container-bat-3 .bataa button i{
        position: relative;
        left: 40px;
    }
    .footer-2 .container-bat-4{
        margin-top: 80px;
        margin-left: 50px;
        margin-right:50px 
    }
    .footer-2 .container-bat-4 P{
        color: gray;
    }
    .footer-2 .container-bat-4 .meta{
        display: inline-block;
        margin-left: 400px;
    }
    .footer-2 .container-bat-4 .meta i{
        margin-right: 20px;
    }
    .computer{
        /* display: none; */
    }
}
