*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none !important;
}

body{
    background-color: #f8f8f8 !important;
    font-family:"Roboto", sans-serif;
    font-weight: 400;
}
.header{
    width: 100%;
    font-weight: 600;
    position: sticky;
    top: 0;
    
}
.header-2{
    background-color: white;
    width: 98.7%;
    margin-top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.header .logo img{
    width: 130ppx;
    margin-top: 25px;
    margin: 22px;
    margin-left: 20px;
}
.header .nav{
    margin-top: 25px;
    margin-left: -50px;
    font-family: "Jersey 25", sans-serif;
}
.header .nav ul li{
    display: inline-block;
    padding: 5.5px;
    font-size: 12px;
    margin-right: 5px;
}
.header .nav ul li:hover{
    background-color: rgba(128, 128, 128, 0.072);
    transition: 0.3s;
    border-radius: 6px;
}
.header .nav ul li a{
    text-decoration: none;
    color: black;
}
.header .button{
    margin-left:55px;

}
.header .button button{
    border: 0.5px solid rgba(128, 128, 128, 0.216);
    border-radius: 17.5px;
    width: 100px;
    height: 30px;
    font-size: 13px;
    background-color:white;
    margin-top: 20px;
}
.header .button button i{
    color: #f9c623;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
  }
  
  .navbar li {
    float: left;
  }
  
  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar li a:hover {
    background-color: #ddd;
    color: black;
  }
  
/* Submenu styles */

.submenu {
    display: none;
    position: absolute;
    background-color: white;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    width:84%;
    height: 85px;
    border-radius: 15px;
    margin-top: 5px;
    margin-left: -200px;
    
}
.submenu .about{
    display: inline-block;
    margin-top: 20px;
    line-height: 0%;
    padding: 10px;
    border-radius: 15px;
    padding-right:70px;
}
.submenu .about:hover{
    background-color: rgba(128, 128, 128, 0.1);
}
.submenu .about img{
    width: 45px;
}
.nav li:hover .submenu {
    display: block;
}
  
.submenu a {
    color: black;
    padding-bottom: 10px;
    text-decoration: none;
    display: block;
    text-align: center;

}
.content{
    background-image: url(https://www.ubcab.mn/static/images/eats_back_pattern.png);

}
.content-a{
    margin-top: 60px;
    margin-left: 50px;
    margin-right:50px;
}

.content .content-a .about img{
    margin-top: 25px;
    width: 20%;
}
.content .content-a .about h1{
    color:black;
    font-weight: 680;
    width: 390px;
    font-size: 48px;
    margin-top: 20px;
    line-height: 3rem;
}
.content .content-a .about span{
    color: rgba(0, 128, 0, 0.676);
}
.content .content-a .about p{
    color: black;
    margin-top: 20px;
    width: 420px;
}
.content .content-a .list{
    width: 480px;
    margin-top: 55px;
}
.content .content-a .list p img{
    background-color: rgba(128, 128, 128, 0.07);
    padding: 10px;
    border-radius: 50%;
    margin-right: 5px;
    width: 45px;
}
.content .content-a .list p{
    font-size: 14px;
    font-weight: 650;
}
.content .button{
    margin-top: 90px;
    display: flex;
    margin-left: -2px;
}
.content .app button{
    display: inline-block;
    padding: 32px;
    border-radius: 50px;
    background-color: rgba(55, 128, 0, 0.726);
    border: none;
    width: 210px;
    font-weight: 500;    
}
.content .app button i{
    margin-right: 14px;
}
.content .driver button{
    display: inline-block;
    padding: 20px;
    border-radius: 50px;
    background-color: white;
    border: 0.1px solid rgba(128, 128, 128, 0.244);
    width: 270px;
    height: 90px;
    font-weight: 500; 
}
.content .driver button i{
    margin-right: 4px;
}
.content .big img{
    width: 95%;
    margin-top: 20px;
    margin-left: 20px;
}
.content-2 .what{
    background-color: white;
    border-radius: 30px;
    height: 350px;

}
.content-2 .what h1{
    font-size: 20px;
    padding-top: 40px;
    margin-left: 40px;
    font-weight: 650;
}
.content-2 .what p{
    font-size: 16px;
    color: gray;
    margin: 40px;
    margin-top:10px;
}
.content-2 .what img{
    width: 260px;
    margin-left: 325px;
    margin-top: -50px;
}


.content-2 .food{
    background-color: white;
    border-radius: 30px;
    height: 350px;

}
.content-2 .food h1{
    font-size: 20px;
    padding-top: 40px;
    margin-left: 40px;
    font-weight: 650;
}
.content-2 .food p{
    font-size: 16px;
    color: gray;
    margin: 40px;
    margin-top:10px;
}
.content-2 .food img{
    margin: 10px 0px 10px 10px;
}
.content-3 .content-a .about{
    background-color: white;
    border-radius: 30px;
    width: 100%;
}
.content-3 .content-a .about h1{
    font-size: 30px;
    margin-top: 20px;
    margin-left: 20px;
}
.content-3 .content-a .about p{
    color: gray;
    margin-top: 20px;
    margin-left: 20px;
}
.content-3 .content-a .about img{
    width: 600px;
    border-radius: 30px;
}
.content-4{
    margin-top: -40px;
}
.content-4 .content-a img{
    width: 100%;
    height: 100%;
}

.content-5{
    margin-bottom: 100px;
}
.content-5 .content-a .about{
    background-color: white;
    border-radius: 30px;
}
.content-5 .content-a .about img{
    width: 100%;
    margin-top: 100px;
}
.content-5 .content-a .about p{
    color:rgba(128, 128, 128, 0.36);
    font-weight: 680;
    margin: 35px;
    font-size: 30px;
    line-height: 2rem;
}
.content-5 .btn{
    display: flex;
    margin-top: 190px;
    margin-left: 30px;
}
.content-5 .app button{
    display: inline-block;
    padding: 32px;
    border-radius: 50px;
    background-color: rgba(49, 128, 0, 0.647);
    border: none;
    width: 210px;
    font-weight: 500;    
}
.content-5 .app button i{
    margin-right: 14px;
}
.content-5 .driver button{
    display: inline-block;
    padding: 20px;
    border-radius: 50px;
    background-color: white;
    border: 0.1px solid rgba(128, 128, 128, 0.244);
    width: 270px;
    height: 90px;
    font-weight: 500; 
}
.content-5 .driver button i{
    margin-right: 4px;
}
.zuraas{
    border-top: 0.5px solid rgba(128, 128, 128, 0.181);
    width: 85%;
    margin-left: 115px;
}

.footer .container-bat-3{
    margin-top: 110px;
    margin-left: 50px;
    margin-right:50px 
}
.footer .container-bat-3 p{
    color: black;
    font-weight: 700;
}
.footer .container-bat-3 li a{
    color: gray;
    line-height: 2rem;
}
.footer .container-bat-3 .bataa button{
    width: 300px;
    height: 55px;
    margin-top: 20px;
    background-color: #f8f8f8;
    border-radius: 4px;
    border: 0.1px solid rgba(128, 128, 128, 0.205);
    font-weight: 700;
}
.footer .container-bat-3 .bataa button:nth-of-type(1) i{
    position: relative;
    left: 90px;
}
.footer .container-bat-3 .bataa button i{
    position: relative;
    left: 40px;
}
.footer-2 .container-bat-4{
    margin-top: 80px;
    margin-left: 50px;
    margin-right:50px 
}
.footer-2 .container-bat-4 P{
    color: gray;
}
.footer-2 .container-bat-4 .meta{
    display: inline-block;
    margin-left: 400px;
}
.footer-2 .container-bat-4 .meta i{
    margin-right: 20px;
}